@import url('https://fonts.googleapis.com/css?family=Barrio');
html,body {
    background: url(images/background.jpg) no-repeat center center fixed;
    background-size: cover;
}

h1 {
    text-align: center;
    font-family: 'Barrio', cursive;

}

canvas {
    padding-left:0;
    padding-right: 0;
    margin-right: auto;
    margin-left: auto;
    display: block;
    width 800px;
}
